<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="layout.html" />
<head>
  <title>Archive</title>
</head>
<body>
<table border="0">
<tr>
<td>Fall 2010 assignments:</td><td width="100" align="right"><button type="button">Archive

</button></td></tr>
<tr>
<td><a href="load">Spring 2010 assignments</a>:</td><td width="100" align="right"><font color="red">Archived </font></td>
</tr>
<tr>
<td><a href="load">Fall 2009 assignments</a>:</td><td width="100" align="right"><font color="red">Archived </font></td>
</tr>
<tr>
<td><a href="load">Spring 2009 assignments</a>:</td><td width="100" align="right"><font color="red">Archived </font></td>

</tr>
<tr>
<td><a href="load">Fall 2008 assignments</a>:</td><td width="100" align="right"><font color="red">Archived </font></td>
</tr>
</table>
</body>
</html>
