<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="layout.html" />
<head>
<title>histogram example</title>
</head>
<body>

<table>
  <tr>
  <td>A</td>
  <td>${acount}</td>
  <td> <div style="height:30px; width:${awidth}px; background: darkslateblue"></div> </td>
  </tr>

  <tr>
  <td>B</td>
  <td>${bcount}</td>
  <td> <div style="height:30px; width:${bwidth}px; background: darkslateblue"></div> </td>
  </tr>

  <tr>
  <td>C</td>
  <td>${ccount}</td>
  <td> <div style="height:30px; width:${cwidth}px; background: darkslateblue"></div> </td>
  </tr>
  <tr>
  <td>D</td>
  <td>${dcount}</td>
  <td> <div style="height:30px; width:${dwidth}px; background: darkslateblue"></div> </td>
  </tr>

  <tr>
  <td>F</td>
  <td>${fcount}</td>
  <td> <div style="height:30px; width:${fwidth}px; background: darkslateblue"></div> </td>
  </tr>

  <tr>
  <td>Z</td>
  <td>${zcount}</td>
  <td> <div style="height:30px; width:${zwidth}px; background: darkslateblue"></div> </td>
  </tr>
</table>

</body>
</html>
