<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="layout.html" />
<head>
  <title>Feedback</title>
</head>
<body>
  <h2>problem 1</h2>
  <!-- left -->

  <div class="student">
    <div class="code">
    <div class="linenumbers">
    1<br/> 2<br/> 3<br/> 4<br/> 5<br/> 6<br/> 7<br/> 8<br/>

    </div>
(define fac<br/>
&nbsp;&nbsp;(lambda (x)<br/>
&nbsp;&nbsp;&nbsp;&nbsp;(if (&lt; x 2) 1<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(* x (fac (- x 1))))))<br/>
<br/>
(define plusthree<br/>
&nbsp;&nbsp;(lambda (x)<br/>

&nbsp;&nbsp;&nbsp;&nbsp;(+ x 3)))<br/>
    </div>
  </div>

  <!-- right -->
  <div class="grading">
    <p>autograder output goes here</p>

    <p>Clever approach to the problem; well done!</p>

    <p><strong>score: A</strong></p>
  </div>
  <br clear="all"/>

  <h2>problem 2</h2>
  <!-- left -->
  <div class="student">
    <div class="code">

    <div class="linenumbers">
    1<br/> 2<br/> 3<br/> 4<br/> 5<br/> 6<br/> 7<br/> 8<br/>

    </div>
(define fac<br/>
&nbsp;&nbsp;(lambda (x)<br/>
&nbsp;&nbsp;&nbsp;&nbsp;(if (&lt; x 2) 1<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(* x (fac (- x 1))))))<br/>
<br/>
(define plusthree<br/>
&nbsp;&nbsp;(lambda (x)<br/>

&nbsp;&nbsp;&nbsp;&nbsp;(+ x 3)))<br/>
    </div>
  </div>

  <!-- right -->
  <div class="grading">
    <p>autograder output goes here</p>

    <p>Clever approach to the problem; well done!</p>

    <p><strong>score: A</strong></p>
  </div>
  <br clear="all"/>

  <h2>problem 3</h2>
  <!-- left -->
  <div class="student">
    <div class="code">

    <div class="linenumbers">
    1<br/> 2<br/> 3<br/> 4<br/> 5<br/> 6<br/> 7<br/> 8<br/>

    </div>
(define fac<br/>
&nbsp;&nbsp;(lambda (x)<br/>
&nbsp;&nbsp;&nbsp;&nbsp;(if (&lt; x 2) 1<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(* x (fac (- x 1))))))<br/>
<br/>
(define plusthree<br/>
&nbsp;&nbsp;(lambda (x)<br/>

&nbsp;&nbsp;&nbsp;&nbsp;(+ x 3)))<br/>
    </div>
  </div>

  <!-- right -->
  <div class="grading">
    <p>autograder output goes here</p>

    <p>Clever approach to the problem; well done!</p>

    <p><strong>score: A</strong></p>
  </div>
  <br clear="all"/>
</body>
</html>
