<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="layout.html" />
<head>
  <title>Admin</title>
</head>
<body>

<p><a href="manage_class" class="frontbutton">manage class</a></p>
<p><a href="add_assign" class="frontbutton">create an assignment</a></p>
<p><a href="assignment_list" class="frontbutton">grade a question</a></p>
<p><a href="view_assign" class="frontbutton">View a question</a></p>

<p><a href="statistics" class="frontbutton">assignment statistics</a></p>
<!--<p><a href="archive" class="frontbutton">archive/load old
assignments</a></p>-->
</body>
</html>
