<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="layout.html" />
<head>
  <title>Load the old archives</title>
</head>
<body>
You have selected <font color="red">"Spring 2009 assignment"</font>.
<br /><br />

<table border="0">
<tr>
<td><a href="">Assignment 1</a></td><td width="80" align="right">Jan 16</td>
</tr>
<tr>
<td><a href="">Assignment 2</a></td><td width="80" align="right">Jan 23</td>
</tr>
<tr>
<td><a href="">Assignment 3</a></td><td width="80" align="right">Jan 30</td>
</tr>
<tr>
<td><a href="">Assignment 4</a></td><td width="80" align="right">Feb 06</td>

</tr>
<tr>
<td><a href="">Assignment 5</a></td><td width="80" align="right">Feb 13</td>
</tr>
<tr>
<td><a href="">Assignment 6</a></td><td width="80" align="right">Feb 20</td>
</tr>
<tr>
<td><a href="">Assignment 7</a></td><td width="80" align="right">Feb 27</td>
</tr>
<tr>

<td><a href="">Assignment 8</a></td><td width="80" align="right">Mar 06</td>
</tr>
<tr>
<td><a href="">Assignment 8</a></td><td width="80" align="right">Mar 13</td>
</tr>
<tr>
<td><a href="">Assignment 10</a></td><td width="80" align="right">Mar 20</td>
</tr>
<tr>
<td><a href="">Assignment 11</a></td><td width="80" align="right">Mar 27</td>

</tr>
<tr>
<td><a href="">Assignment 12</a></td><td width="80" align="right">Apr 03</td>
</tr>
<tr>
<td><a href="">Assignment 13</a></td><td width="80" align="right">Apr 10</td>
</tr>
<tr>
<td><a href="">Assignment 14</a></td><td width="80" align="right">Apr 17</td>
</tr>
<tr>
<td><a href="">Assignment 14</a></td><td width="80" align="right">Apr 24</td>
</tr>
</table>
<br />
Do you want to load this archive? <button type="button">YES</button> <button type="button">NO</button>
</body>
</html>
