<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="layout.html" />
<head>
  <title>Admin a class</title>
</head>
<body>
<table border="0">
<tr>
<td>Manage Students:</td><td width="200" align="right"><button
type="button" onclick="window.location='./student_details'">Who is in the class?

</button></td></tr>
<tr>
<td>Manage TAs:</td><td width="200" align="right"><button
type="button" onclick="window.location='./ta_details'">Who is TA?
</button></td></tr>
</table>
</body>
</html>
