<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="layout.html" />
<head>
  <title>Search Results</title>
</head>
<body>
<h3><a href="feedback">a3</a></h3>
<p><em>Comment:</em> "... why did you call the helper function
'<strong>fac</strong>' when it finds the third character in a string?"</p>

<hr/>

<h3><a href="feedback">a4</a></h3>

<p><em>Code:</em> "(define fac ..."</p>

<hr/>

<br clear="all"/>
</body>
</html>
