<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="layout.html" />
<head>
 <title>Statistics of the class</title>
</head>
<body>
<table border="0">
 <tr py:for="stat in stats" >
     <td>${stat.finalGrade}</td>
     <td>${stat.number}</td> 
     <td><div style="height:30px; width:${stat.ncount}px; background: darkslateblue"></div></td>
     <td>${stat.Year}</td>
 </tr>
</table>
</body>
</html>
