<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="layout.html" />
<head>
  <title>Grade an assignment</title>
</head>
<body>
<h2>You have selected "Student 1" in "Assignment 3"</h2>
<table border ="0" cellpadding="10">
<tr>
<th>Student 1's answers</th>
</tr>
<tr>
<td><a href = "grading">Question 1</a></td>
</tr>
<tr>
<td><a href = "grading">Question 2</a></td>
</tr>

<tr>
<td><a href = "grading">Question 3</a></td>
</tr>
</table>
</body>
</html>
