div.gradingContainer {
	border-radius: 15px;
	-moz-border-radius: 15px;
	position: absolute;
	width: 95%;
        height: 95%;
	margin: 10px;
	overflow: auto;
	border: 1px solid #fff;
}

div.student {
  background-color: #ddd;
  width: 48%;
  overflow: auto;
  float: left;
  text-align: left;
  padding-bottom: .5em;
  padding-top: .5em;
  border-radius: 15px;
  -moz-border-radius: 15px;
}

div.code {
  font-family: 'Droid Sans Mono', arial, serif;
  margin-bottom: 1em;

  font-size: 10pt;
  white-space: pre-wrap;
  position:relative;
  border-radius: 15px;
  -moz-border-radius: 15px;
}

div.linenumbers {
  float: left;
  padding-right: 1em;
  padding-left: .1em;
  color: #666;
}

div.grading {
  background-color: #bbf;
  float: right;
  position: relative;
  width: 100%;
  margin: auto;
  
  padding-left: 1em;
  border-radius: 15px;
  -moz-border-radius: 15px;
  padding-bottom: .5em;
}

div.gradingWrapper {
  left: 50%;
  position: fixed;
  width: 41%;
  float: left;

}

div.existingcomment {
  color: black;
  background-color: #ddd;
  margin-right: 1em;
}


div.grading textarea {
  max-width: 95%;
}

div.assignmentlist {
  float: left;
  width: 55%;
}

a.frontbutton {
  font-size: 2em;
}

div.codesearchbox {
  float: right;
  width: 45%;
}

.reportTable td {
padding: 2px 4px 2px 4px;
border: 1px solid #660000;
border-style: dotted;
border-color: gray;
background-color:white;
width: 33%;
}

.reportTable th {
  border-width: 1px;
  padding: 1px;
  border-style: dotted;
  border-color: gray;
  background-color: white;
}

.reportTable {
  border-width: 1px;
  border-spacing: 2px;
  border-style: hidden;
  border-color: gray;
  border-collapse: collapse;
  background-color: rgb(250, 240, 230);
  width: 100%;
}

.reportTable h2 {
  text-align: center;
  margin: 0px 0px 0px 0px;
  background-color: grey;
}

div.report {
  font-family: 'Droid Sans Mono', arial, serif;
  margin-bottom: 1em;
  font-size: 10pt;
  white-space: pre-wrap;
}

div.report li {
  margin: auto;
  width: 90%;
  list-style-type: circle;
}

select.prevcomments {
  max-width: 95%;
  min-width: 200px;
}

.codesearchbox .searchinput {
  width: 70%;
  max-width: 300px;
  min-width: 100px;
}

/* layout */
body {
	font: 100%/1.4  Georgia, "Times New Roman", Times, serif;
	background: #fff;
	margin: 0;
	padding: 0;
	color: #000;
}


ul, ol, dl {
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
}
a img { 
	border: none;
}

a:hover, a:active, a:focus { 
	text-decoration: none;
}

.header {
width: 800px;
}

.container {        
	border-radius: 15px;
	-moz-border-radius: 15px;
	position: absolute;
	width: 90%;
        height: 80%;
	background: #fff;
	margin: 0px 50px 50px 50px;
	overflow: auto;
	border: 1px solid #fff;
}


.sidebar1 {
	position: fixed;
	margin: 10px 0px 10px 0px;
	width: 17%;
	margin-left: 10px;
}


.sidebar1 a {
	color: #fff;
}

.content_container {
	position: absolute;
	right: 0;
	width: 80%;
	height: 100%;

	text-align: center;
}
.content_header {
	text-align: center;
	font-family: arial;
	font-weight: bold;
	font-size: 28px;
	font-style: italic;
	height: 10%;
}
.content {
	margin: 0px 20px 0px 20px;
	border-style: solid;
	border-color: #ccc;
	border-bottom: 0px;
	border-right: 0px;
	border-left: 0px;
}

.legalstuff {
	width: 1000px;
	font-size: 10px;
	color: #fff;
	left-margin: 250Spx;
}
.content ul, .content ol { 
	padding: 0 15px 15px 40px;
}

ul.nav {
	list-style: none; 
	border-top: 1px solid #000000; 
	border-bottom: 1px solid #000; 
	margin-bottom: 15px;
}

ul.nav:last-child{ 
	margin-bottom: 0px;
}

ul.nav li {
    font-color: #fff;
}

ul.nav a, ul.nav a:visited a:link {
	padding: 5px 5px 5px 15px;
	display: block;
	text-decoration: none;
	font-color:#fff;
	background: #222;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus { 
	background: #BBF;
	color: #000;
}

.fltrt {
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}


/* Header */
#banner {
 position: relative;
 width: 100%;
 height: 80px;
 padding: 0;
}

#banner-wrapper1 {
 width: 100%;
 height: 80px;
 padding: 0;
}

#banner-wrapper2 {
 width: 100%;
 height: 80px;
 padding: 0;
}

.logo {
 background-image: url("/static/images/guido.png");
 width: 480px;
 height: 100px;
 position: relative;
}

#banner h1 {
 font-size: 200%;
 color: #000;
 font-weight: bolder;
 position: absolute;
 top: -10px;
 right: 7px;
 padding: 0;
 margin: 0;
}



#header hr { display: none }
#header h1 { margin-left: 6em; margin-top: -1.1em; }
#header :link, #header :visited, #header :link:hover, #header
:visited:hover {
 background: transparent;
 color: #555;
 margin-bottom: 2px;
 border: none;
}

#header {
  margin-top: 2em;
  margin-left: 2em;
}
#header h1 :link:hover, #header h1 :visited:hover { color: #000 }

#navmenu {
  top: 0.5em;
  position: relative;
  color: green;
  margin-left: 2em;
  margin-right: 2em;
}

#path {
  top: -10px;
  position: relative;
  color: green;
  margin-left: 2em;
  margin-right: 10em;
}
.pathclass  A:link {text-decoration: none; color: green;}
.pathclass  A:visited {text-decoration: none; color: green;}
.pathclass  A:active {text-decoration: none; color: green;}
.pathclass  A:hover {text-decoration: underline; color: green;}
#path :link, #path:link:visited:hover { color: green; }

#content {
  padding: 1em;
  padding-bottom: 2em;
  position: relative;
  top: 0px;
  margin-top: -6px;
  margin-left: 2em;
  margin-right: 2em;
  border: 1px solid #bce09c ;
  min-height: 400px;
}


@media print {
 #header, #altlinks, #footer, #help { display: none }
 .nav, form, .buttons form, form .buttons, form .inlinebuttons { display: none }
 form.printableform { display: block }
}

#footer hr { display: none; }

#byline{ 
    padding: 2px;
    text-align: center;
    bottom: 0px;
    position: absolute;
    width: 95%;
    margin: auto;
    border-top: 1px solid #ccb;
    font-size: x-small;
}

#footer{ 
    padding: 2px;
    text-align: center;
    bottom: 0px;
    position: absolute;
    width: 95%;
    border-top: 1px solid #ccb;
    font-size: x-small;
}
#byline p { color: #000; margin: 0; position:relative; }

.crclass  A:link {text-decoration: none; }
.crclass  A:visited {text-decoration: none; color: black; }
.crclass  A:active {text-decoration: none; color: black; }
.crclass  A:hover {text-decoration: underline; color: black; }

/* jquery-ui */

.ui-autocomplete {
    max-height:100px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
}
.ui-menu-item {
    font-size: small;
}
.ui-button {
    font-size: small !important;
}

#grade .ui-selecting { background: #FECA40; }
#grade .ui-selected { background: #F39814; color: white; }
#grade { list-style-type: none; margin: 0; padding: 0; }
#grade li { margin: 3px; padding: 1px; float: left; width: 50px; height: 40px; font-size: 2em; text-align: center; cursor: pointer;}
